{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-6">
        <h1>Add a flight</h1>
        <form action="/add" method="POST">

            <!-- Get the departure date -->
            <div class="form-group">
                <label for="date">Departure date</label>
                <input type="date" name="date" id="departure_date" class="form-control">
            </div>

            <!-- Get the departure time with hour and minute inputs -->
            <div class="form-group">
                <label for="hour">Departure time (24-hour)</label>
                <input type="number" name="hour" id="hour" min="0" max="23" value="00" class="form-control w-25 d-inline">
                :
                <input type="number" name="minute" min="0" max="59" value="00" class="form-control w-25 d-inline">
            </div>

            <!-- Get the origin airport in a dropdown box -->
            <div class="form-group">
                <label for="origin">Origin</label>
                <select name="origin" id="origin" class="form-control">
                    <!-- TODO: Loop through each airport, creating an option for each -->
                    
                </select>
            </div>

            <!-- Get the destination airport in a dropdown box -->
            <div class="form-group">
                <label for="destination">Destination</label>
                <select name="destination" id="destination" class="form-control">
                    <!-- TODO: Copy the Jinja code from above! -->

                </select>
            </div>

            <button type="submit" class="btn btn-primary">Add flight</button>
        </form>
    </div>
</div>
{% endblock %}