{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Departure</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Status</th>
                    <th>More</th> <!-- This column should link to /update/<flight_id> -->
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the flights, adding a row for each. -->
            </tbody>
        </table>
        <p><a href="/add">Add a flight</a></p>
    </div>
</div>

{% endblock %}