{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-6">
        <h1>Update flight status</h1>
        <table class="table table-dark">
            <!-- TODO: Create one table row with the details of this flight -->

        </table>

        <form action="/update/{{ flight['id'] }}" method="POST">
            <div class="form-group">
                <label for="status">Flight status</label>
                <input type="text" name="status" id="status" class="form-control" value="{{ flight['status'] }}">
            </div>

            <button type="submit" class="btn btn-primary">Update flight status</button>
        </form>
    </div>
</div>
{% endblock %}