<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Code by {{ submission.name }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <div class="container-fluid py-4 px-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">
                        Josh&rsquo;s lab section learns Python!
                    </h1>
                    <p class="text-center">{{ submission.name }} wrote the following Python code in order to submit:</p>
                    <p class="text-center"><a href="/">Go back to the main page</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <pre><code class="python">{{ submission.script }}</code></pre>
                </div>
            </div>
    </body>
</html>
